<footer class="pt-2" [ngClass]="[bgColor, textColor]">
  <div class="w-100">
    <div class='container'>
      <div class='row row-cols-lg-3 row-cols-md-1 row-cols-sm-1 justify-content-center align-items-center'>
        <div class='col d-flex justify-content-center align-items-center'>
          <app-logo (click)="home()" class="cursor-pointer" [bgColor]="'beige'" [size]="20"></app-logo>
        </div>
        <div class='col d-flex justify-content-center align-items-center flex-column'>
          <div class='col d-flex justify-content-start align-items-center flex-column'>

            <h1 class='display-6 fw-light fs-2 mb-3'>Contact US</h1>
            <h1 class='display-6 fw-light fs-5 d-flex justify-content-center align-items-center'><i
                class="bi bi-facebook"></i></h1>
            <h1 class='display-6 fw-light fs-5 d-flex justify-content-center align-items-center'><i
                class="bi bi-instagram"></i></h1>
            <h1 class='display-6 fw-light fs-5 d-flex justify-content-center align-items-center'><i
                class="bi bi-whatsapp"></i></h1>
            <h1 class='display-6 fw-light fs-5 d-flex justify-content-center align-items-center'><i
                class="bi bi-github"></i></h1>


          </div>
        </div>
        <div class='col d-flex justify-content-center align-items-center flex-column'>
          <div class='col d-flex justify-content-center align-items-center flex-column'>

            <h1 class='display-6 fw-light fs-2 mb-3'>More Info</h1>
            <h1
              class='display-6 fw-light fs-6 text-decoration-underline d-flex justify-content-center align-items-center'>
              About Us</h1>
            <h1
              class='display-6 fw-light fs-6 text-decoration-underline d-flex justify-content-center align-items-center'>
              Cookies</h1>
            <h1
              class='display-6 fw-light fs-6 text-decoration-underline d-flex justify-content-center align-items-center'>
              Why Us ..?</h1>
            <h1
              class='display-6 fw-light fs-6 text-decoration-underline d-flex justify-content-center align-items-center'>
              Future Plans</h1>


          </div>
        </div>

      </div>
    </div>
    <div class='w-100 bg-orange py-3 mt-2 d-flex justify-content-center align-items-center'>
      <h1 class='display-6 fw-light fs-6 d-flex justify-content-center align-items-center'>2022 Copyright | Designed by:
        <span class='text-beige fw-bolder ms-1'>Bavly Ashraf</span></h1>
    </div>
  </div>
</footer>
